# PHP Settings
php_value display_errors 1
php_value display_startup_errors 1
php_value error_reporting E_ALL

# Character Encoding
AddDefaultCharset UTF-8

# PHP Session Settings
php_value session.cookie_httponly 1
php_value session.use_only_cookies 1
php_value session.cookie_secure 1

# Error Documents
ErrorDocument 500 /error500.php
ErrorDocument 404 /error404.php

# Security Headers
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Frame-Options "SAMEORIGIN"
</IfModule>

# URL Rewriting
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Remover 'checkout' da URL se presente
    RewriteCond %{THE_REQUEST} /checkout/([^\s?]*) [NC]
    RewriteRule ^ /%1 [L,R=301,NE]
    
    # Redirecionar internamente requisições para a pasta checkout
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /checkout/$1 [L]
    
    # Redirect to HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule> 